*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

input {
    margin: 10px 0px 0px 0px; 
    border-style: none; 
    border-bottom: solid; 
    border-color: aliceblue; 
    color: black;
    font-size: 20px; 
    background-color: rgb(180, 174, 174);
}

.container-page {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1800px;
    height: 5000px;
    margin-top: 20px;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1800px;
    height: 50px;
    margin: 0px 0px 30px 0px;
}

.logo {
    font-size: 30px;
    color: white;
}

.nav-details {
    font-size: 25px;
    color: white;
    position: relative;
    left: 333px;
    display: flex;
    flex-direction: row;
}

.btn {
    margin: 0px 40px;
}

.home {
    color: orange;
}

.btn-booking {
    position: relative;
    left: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: 0px 0px 0px 80px;
    border-style: solid;
    border-color: orange;
    color: orange;
    font-size: 22px;
}

.introduce {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1800px;
    color: white;
}

.intro {
    position: relative;
    display: flex;
    left: 0px;
    flex-direction: column;
    margin: 60px 200px 0px 100px;
    font-size: 30px;
    font-weight: bold;
}

.title {
    font-size: 80px;
    margin: 20px 0px;
}

.content {
    font-size: 22px;
    margin: 20px 0px;
}

.search {
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: 1000px;
    height: 100px;
    font-size: 25px;
    background-color: rgb(180, 174, 174);
    z-index: 2;
}

.plan {
    color: black;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.search-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    background-color: orange;
    border-style: none;
    top: -20px;
    right: -20px;
    width: 180px;
    height: 100px;
    z-index: 3;
}

.main-img {
    position: relative;
    right: -100px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 980px;
}

.black {
    width: 840px;
    height: 500px;
}

.orange {
    width: 840px;
    height: 250px;
    background-color: orange;
}

.experience {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1800px;
    height: 250px;
}

.show-exp {
    position: relative;
    display: flex;
    align-items: center;
    width: 900px;
    font-size: 60px;
    margin-left: 100px;
    color: white;
}

.parameter {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
    color: white;
}

.para {
    margin: 30px 30px;
}

.details {
    position: relative;
    top: 100px;
    width: 1800px;
    height: 600px;
    margin: 0px 0px 40px 0px;
}

.details-img {
    position: absolute;
    width: 800px;
    height: 500px;
    left: 150px;
    z-index: 1;
}

.details-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    top: 100px;
    left: 850px;
    width: 800px;
    height: 500px;
    background-color: orange;
}

.partner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 150px;
    width: 300px;
    height: 50px;
    border-style: none;
    font-size: 22px;
    background-color: black;
    color: orange;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    width: 1800px;
    height: 900px;
}

.container-places {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 1700px;
    height: 700px;
}

.place {
    position: relative;
    width: 500px;
    height: 700px;
}

.one {
    margin: 0px 25px 0px 50px;
}

.two {
    margin: 0px 25px 0px 25px;
}

.three {
    margin: 0px 50px 0px 25px;
}

.place-note {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    left: 50px;
    bottom: 0px;
    width: 400px;
    height: 100px;
    background-color: orange;
}